<div mat-dialog-content class="common-modal">
  <h3 mat-dialog-title class="common-modal__title">
    {{ data.generalInfo.info.text }}
  </h3>
  <div class="content _beige">
    <p *ngIf="notBefore">Not before: {{ notBefore }}</p>
    <p *ngIf="notAfter">Not after: {{ notAfter }}</p>
  </div>

  <div class="content _light-blue" *ngIf="issuer">
    <h3>ISSUER</h3>
    <div *ngFor="let data of issuer;">
      <p>{{ data.name }}: {{ data.value }}</p>
    </div>
  </div>

  <div class="content _light-grey" *ngIf="subject">
    <h3>SUBJECT</h3>
    <div *ngFor="let data of subject">
      <p>{{ data.name }}: {{ data.value }}</p>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onOKClick()">OK</button>
</div>
